@import '@constants/typography.scss';
@import '@constants/colors.scss';
@import '@constants/media.scss';
@import '@constants/responsive.scss';

.campaign {
    display: flex;
    h4 {
        font-size: 19.6px;
        font-family: $font-primary;
        color: $secondary-color;
        line-height: 30.49px;
        font-weight: 600;
    }
    hr {
        width: 66px;
        margin-left: 10px;
        border: 1.09 px solid #000 25%;
    }
}
@media screen and (min-width: 320px) and (max-width: 475px) {
    .campaign {
        h4 {
            font-size: 15px !important;
        }
    }
}
