@import '@constants/typography.scss';
@import '@constants/colors.scss';
@import '@constants/media.scss';
@import '@constants/responsive.scss';
.effect-box {
    background-image: url('../../assets/images/effect.png');
    background-repeat: no-repeat;
    background-position: 0 107%;
}

.about-container {
    padding: 4rem 0;

    background-repeat: no-repeat;
    .heading-about {
        @include responsiveProperty(
            (
                font-size: 40.73
            )
        );
        font-weight: 700;
        font-family: $font-secondary;
        line-height: 52.22px;
    }
    img {
        width: 100%;
        margin: 0rem 0 2rem 0;
    }
    .content-about {
        font-family: $font-primary;
        color: #afafaf;
        font-size: 16.71px;
        font-weight: 500;
        padding: 2rem 0;
    }
    .mission {
        background: #f8fbff;
        padding: 2.5rem;
        border-radius: 10.44px;
        width: 630px;
        height: 350px;
        margin: 2rem 0;
        h3 {
            font-family: $font-nunito !important;
            color: $secondary-color;
            margin: 0 0 0 2rem;
            font-family: $font-primary;
            font-weight: 700 !important;

            @include responsiveProperty(
                (
                    font-size: 28
                )
            );
        }
        p {
            font-family: $font-primary;
            color: #555555;
            font-weight: 400;
            font-size: 14.62px;
        }
    }
}
@media screen and (max-width: 475px) {
    .about-container {
        padding: 1rem 0.5rem !important;
        .heading-about {
            font-size: 20px !important;
            line-height: 25px !important;
        }
        .content-about {
            font-size: 12px !important;
            padding: 1rem 0;
        }
        img {
            margin: 0 0 0.5rem 0;
        }
        .mission {
            padding: 1.5rem 1rem !important;
            width: 100%;
            height: auto !important;
            padding: 1.5rem !important ;
            margin: 0.5rem 0;
            > p {
                font-size: 12px !important;
            }
            h3 {
                font-size: 16px !important ;
                margin: 0 0 0 0.5rem !important;
            }
            > div {
                margin-bottom: 1rem !important;
                > span {
                    > svg {
                        height: 30px !important;
                        width: 30px !important;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 901px) and (max-width: 1400px) {
    .about-container {
        padding: 2rem 0 !important;
        img {
            margin: 0 !important;
        }
        .mission {
            width: 100%;
            height: 340px !important;
            margin: 1rem 0 0 0 !important;
            > div {
                margin-bottom: 1rem !important;
                > span {
                    > svg {
                        height: 30px !important;
                        width: 30px !important;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 476px) and (max-width: 900px) {
    .about-container {
        .content-about {
            padding: 0 0 2rem 0 !important;
        }
        padding: 2rem 0 !important;
        img {
            margin: 0 !important;
        }
        .mission {
            width: 100%;
            height: auto !important;
            margin: 1rem 0 0 0 !important;
            > div {
                margin-bottom: 1rem !important;
                > span {
                    > svg {
                        height: 30px !important;
                        width: 30px !important;
                    }
                }
            }
        }
    }
}
